.mv-bar.mv-ui > .mv-button.stats {
	order: 1;
}

	.mv-bar.mv-ui > .mv-button.stats::before {
		content: "📊";
		vertical-align: 0;
	}

.migraines > button.mv-add-migraine {
	font-size: 200%;
	display: block;
	margin: 1rem auto;
	padding: .3em 1em;
}

[property="migraine"] {
	margin: .5em;
	--hue: calc(30 * (1 - var(--intensity) * .25));
	--color: var(--hue), 100%;
	background: hsl(var(--color, var(--gray)), var(--l-90));
	border-radius: 4px;
}

@media (max-width: 500px) {
	[property="migraine"] {
		font-size: 130%;
	}
}

[property="migraine"]:target {
	box-shadow: 0 0 .5em skyblue;
}

[property="migraine"].intensity-0 {
	background: hsl(20 100% var(--l-90));
}

	[property="migraine"] header {
		display: flex;
		flex-wrap: wrap;
		padding: .5em;
	}

	@media (max-width: 500px) {
		[property="migraine"] header {

		}
	}

	[property="date"] {
		font-weight: bold;
	}

	[property="weekday"] {
		min-width: 2em;
		text-align: right;
		margin-right: .6ch;
	}

	[property="notes"] {
		padding: .5em;
		background: hsla(0, 0%, var(--l-100), .4);
	}

[property="intensity"] {
	margin-left: .4em;
}

[property="startTime"] {
	margin-left: .4em;
}

	[property="startTime"]:not(:empty)::before {
		content: "at ";
	}

.end-time,
.duration {
	margin-left: .4em;
}

.migraine-free {
	text-align: center;
	font-size: larger;
}
