<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mygraine - Migraine tracker</title>
	<link rel="stylesheet" href="https://dev.mavo.io/dist/mavo.css">
	<link rel="stylesheet" href="style.css">
</head>
<body mv-app="tracker" mv-storage="data.json" mv-bar="with export">
<header>
	<h1>mygraine</h1>
	<h2>migraine tracker</h2>
	<div class="mv-bar mv-ui"></div>
</header>
<main>
	<div class="migraines">
		<article property="migraine" mv-multiple mv-order="desc" style="--intensity:[intensity];">
			<header>
				<time property="date"></time>
				<time property="startTime" mv-edit-type="time" mv-edit-value="[time($startup, 'minutes')]">[time(startTime, 'minutes')]</time>
				<meta property="timeOfDay" content="[if(startTime, floor(hour(startTime) / 6) + 1)]">
				<span mv-if="startTime and duration" class="end-time">to [time(startTime + duration * hours(), 'minutes')]</span>

				<span property="duration" mv-edit-type="number" mv-edit-min="1"></span>
				<meter property="intensity" min="0" max="5" title='[intensityName(intensity)]' mv-default="[null]"></meter>

				<meta property="timeElapsed" content="[date - $next.date]">
				<span class="days-since">
					<span mv-if="timeElapsed"><strong>[duration(timeElapsed)]</strong> since </span>
					<span mv-if="timeElapsed = 0"><strong>Same day</strong> as </span>
					last migraine
				</span>
			</header>
			<div property="notes"></div>
		</article>
	</div>

	<aside>
		<dl class="stats">
			<dt>Migraines recorded:</dt>
			<dd property="totalMigraines">[count(migraine)]</dd>

			<dt>Average interval:</dt>
			<dd>[duration(average(timeElapsed))]</dd>

			<dt>Max time between migraines:</dt>
			<dd>[days(max(timeElapsed))] days</dd>

			<dt>Average duration</dt>
			<dd>[average(duration)] hours</dd>

			<dt class="large">Migraines by month (avg: [average(monthlyCount)], med: [median(monthlyCount)]):</dt>
			<dd>
				<div mv-multiple="migraineByMonth" mv-group mv-value="migraine by year(date) & '-' & month(date, '00')">
					[month($value, "name")] [year($value)]
					<strong property="monthlyCount" style="--width: [monthlyCount / max(monthlyCount.$all)]">[count($items)]</strong>
				</div>
			</dd>

			<dt class="large">Migraines by intensity (avg: <meter min="0" max="5" value="[average(migraine.intensity)]" title="[average(migraine.intensity)]"></meter>)</dt>
			<dd class="migraines-by-intensity">
				<div><strong>[count(!migraine.intensity)]</strong> had no recorded intensity</div>
				<div mv-multiple="migraineByIntensity" mv-value="1 .. 5" mv-attribute="content">
					<strong property="intensityCount">[count(migraine.intensity = migraineByIntensity)]</strong> ([100 * intensityCount / totalMigraines]%)
					were [intensityName(migraineByIntensity)] <meter min="0" max="5" value="[migraineByIntensity]" title="[migraineByIntensity]"></meter>
				</div>
			</dd>

			<dt class="large">Migraines by time of day</dt>
			<dd>
				<div><strong>[count(!migraine.timeOfDay)]</strong> had no recorded start time</div>
				<div mv-multiple="migraineByTimeofday" mv-value="1 .. 4" mv-attribute="content">

					<strong property="todCount">[count(migraine.timeOfDay = migraineByTimeofday)]</strong> ([100 * todCount / totalMigraines]%)
					were in the [get(list("Early morning", "Morning", "Afternoon", "Evening"), migraineByTimeofday - 1)]
				</div>
			</dd>
		</dl>

	</aside>
</main>
<!-- <aside>
	<div mv-value="occurrence where month(date) = month($today) " mv-multiple mv-group>
		[weekday(date)] [day(date)]
	</div>
</aside> -->
<script>
	function intensityName(intensity) {
		return ["Very mild", "Mild", "Medium", "Strong", "Very strong"][intensity - 1];
	}

	function timeOfDay2(hour) {
		hour = Mavo.value(hour);

		if (hour === "" || hour === null) {
			return null;
		}
debugger;
		return ["Early morning", "Morning", "Afternoon", "Evening"][Math.floor(hour / 6)]
	}
</script>
<script src="https://dev.mavo.io/dist/mavo.js"></script>

</body>
</html>
