<!DOCTYPE html>
<html lang="en" class="home">
<head>
	<meta charset="UTF-8">
	<title>mygraine - Migraine tracker</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://dev.mavo.io/dist/mavo.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="home.css">
</head>
<body mv-app="migraines" mv-storage="https://github.com/leaverou/mygraine/data.json" mv-bar="with export">
<header>
	<h1>mygraine</h1>
	<h2>migraine tracker</h2>
	<div class="mv-bar mv-ui">
		<a href="stats.html[location.search]" class="mv-button stats">Stats</a>
	</div>
</header>
<main>
	<meta property="minNumeric" mv-value="min(startNumeric)" />
	<meta property="spanNumeric" mv-value="max(startNumeric) - minNumeric" />
	<div class="migraines">
		<!-- <div class="since">[duration(first(date) - $today)] since last migraine!</div> -->
		<article property="migraine" id="migraine-[date]-[startTime]" mv-multiple mv-order="desc" style="--intensity:[intensity];">
			<header>
				<span property="weekday">[weekday(date, "shortname")]</span>
				<time property="date" mv-default="[$today]"></time>
				<time property="startTime" mv-edit-type="time" mv-edit-value="[time($startup, 'hour')]">[time(startTime, 'minutes')]</time>
				<meta property="timeOfDay" content="[if(startTime, floor(hour(startTime) / 6) + 1)]">
				<span mv-if="startTime and duration" class="end-time">to [time(startTime + duration * hours(), 'minutes')]</span>

				<span property="duration" mv-edit-type="number" mv-edit-min="1"></span>
				<meter property="intensity" min="0" max="5" title='[intensityName(intensity)]' mv-default="[null]"></meter>

				<meta property="timeElapsed" content="[date - $next.date]">
				<meta property="startNumeric" content="[date + (hour(startTime) * 3600 + minute(startTime) * 60) * 1000]">
				<span class="days-since">
					<span mv-if="timeElapsed"><strong>[duration(timeElapsed)]</strong> since </span>
					<span mv-if="timeElapsed = 0"><strong>Same day</strong> as </span>
					last migraine
				</span>
			</header>
			<div property="notes"></div>
		</article>
	</div>
</main>
<!-- <aside>
	<div mv-value="occurrence where month(date) = month($today) " mv-multiple mv-group>
		[weekday(date)] [day(date)]
	</div>
</aside> -->
<script>
	function intensityName(intensity) {
		return ["Very mild", "Mild", "Medium", "Strong", "Very strong"][intensity - 1];
	}

	function timeOfDay2(hour) {
		hour = Mavo.value(hour);

		if (hour === "" || hour === null) {
			return null;
		}
debugger;
		return ["Early morning", "Morning", "Afternoon", "Evening"][Math.floor(hour / 6)]
	}
</script>
<script src="https://dev.mavo.io/dist/mavo.js"></script>

</body>
</html>
