<!DOCTYPE html>
<html lang="en" class="home">
<head>
	<meta charset="UTF-8">
	<title>mygraine - Migraine tracker</title>
	<link rel="shortcut icon" href="favicon.svg">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://dev.mavo.io/dist/mavo.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="home.css">
</head>
<body mv-app="migraines" mv-storage="https://github.com/leaverou/mygraine/data.json" mv-bar="with export">
<header>
	<h1>mygraine</h1>
	<h2>migraine tracker</h2>
	<div class="mv-bar mv-ui">
		<a href="stats.html[location.search]" class="mv-button stats">Stats</a>
	</div>
</header>
<main>
	<!-- <meta property="minNumeric" mv-value="min(startNumeric)" />
	<meta property="spanNumeric" mv-value="max(startNumeric) - minNumeric" /> -->
	<meta property="lastMigraine" content="[first(migraine)]" />

	<meta property="timeElapsed" content="[$now - if (lastMigraine.endTime, lastMigraine.endNumeric, lastMigraine.startNumeric)]" />
	<div class="migraine-status" mv-if="lastMigraine.duration > 0">
		migraine-free for <strong>[duration(timeElapsed, 2)]</strong>
	</div>
	<div class="migraine-status" mv-if="!lastMigraine.duration and !lastMigraine.endTime">
		In a migraine for <strong>[duration(timeElapsed, 2)]</strong>.
		<meta property="timeRemaining" content="[average(first(recentCount, duration)) - timeElapsed]">
		<small>
			If this [if(timeRemaining > 0, 'is', 'were')] like your
			<span property="recentCount" mv-mode="edit" mv-edit-type="popup"
			      mv-editor-type="range" mv-edit-min="2" mv-edit-max="[count(migraine)]">30</span>
			most recent migraines, it
			[if(timeRemaining > 0, 'will finish in about', 'would have finished')]
			[duration(abs(timeRemaining), 2)]
			[if(timeRemaining < 0, 'ago')]
		</small>
	</div>
	<div class="migraines">
		<!-- <div class="since">[duration(first(date) - $today)] since last migraine!</div> -->
		<article property="migraine" id="migraine-[date]-[startTime]" mv-multiple mv-order="desc" style="--intensity:[intensity];">
			<header>
				<span property="weekday">[weekday(date, "shortname")]</span>
				<time property="date" mv-edit-type="inline" mv-default="[$today]"></time>
				<time property="startTime" mv-edit-type="inline" mv-editor-type="time" mv-editor-value="[time($startup, 'hour')]">[time(startTime, 'minutes')]</time>
				<meta property="timeOfDay" content="[if(startTime, floor(hour(startTime) / 6) + 1)]">
				<span class="end-time" data-hide="[!endTime]">
					to
					<time property="endTime" mv-edit-type="inline" mv-editor-type="time" mv-editor-value="[startTime]">[time(endTime, 'minutes')]</time>
					<span data-hide="[endDate <= date]" hidden=[!endTime]>
						<span data-hide="[!endDate]">on</span>
						<time property="endDate" mv-edit-type="inline" mv-default="[if(endTime < startTime, date(date + 1 * days()), date)]"></time>
					</span>
				</span>
				<span mv-if="startTime and endTime" class="duration">
					([duration(duration, 2)])
				</span>
				<meta property="duration" mv-if="date and startTime and endTime and endDate"
				      content='[
					  if (date and startTime and endTime and endDate,
					  	endDate & "T" & endTime - date & "T" & startTime,
						null
					  ) ]'>

				<meter property="intensity" min="0" max="5" title='[intensityName(intensity)]' mv-default="[null]"></meter>
				<div property="side" mv-attribute="content" mv-edit-type="self">
					<div class="left" mv-action="set(side, if (side = 'left', '', if(side = 'right', 'both', 'left')))">L</div>
					<div class="right" mv-action="set(side, if (side = 'right', '', if(side = 'left', 'both', 'right')))">R</div>
				</div>

				<meta property="timeElapsed" content="[startNumeric - $next.endNumeric]">
				<meta property="startNumeric" content="[date + hour(startTime) * hours() + minute(startTime) * minutes()]">
				<meta property="endNumeric" content="[startNumeric + duration]">
				<span class="days-since" mv-if="$next and timeElapsed">
					<strong>[duration(timeElapsed, 2)]</strong>
					migraine-free
				</span>
			</header>
			<div property="notes"></div>
		</article>
	</div>
</main>

<div hidden>
	<select id="sideSelect">
		<option></option>
		<option>left</option>
		<option>right</option>
		<option>both</option>
	</select>
</div>
<script>
	function intensityName(intensity) {
		return ["Very mild", "Mild", "Medium", "Strong", "Very strong"][intensity - 1];
	}

	function timeOfDay2(hour) {
		hour = Mavo.value(hour);

		if (hour === "" || hour === null) {
			return null;
		}
debugger;
		return ["Early morning", "Morning", "Afternoon", "Evening"][Math.floor(hour / 6)]
	}
</script>
<script src="https://dev.mavo.io/dist/mavo.js"></script>

</body>
</html>
