:root {
	--gray: 220, 10%;
}

body {
	margin: 0;
	font-family: Helvetica Neue, Segoe UI, sans-serif;
	--gradient: linear-gradient(to bottom right, hsl(20, 100%, 40%), hsl(0, 100%, 40%))
}

main {
	flex: 1;
}

aside {
	flex: 1;
}

main {
	display: grid;
	grid-template-columns: 1fr auto;
}

body > header {
	display: grid;
	grid-template-columns: auto auto 1fr auto;
	grid-template-areas: "h1 h2 . mv-bar";
	align-items: center;
	grid-column-end: span 2;
	padding: .5em 1em;
	margin-bottom: 1em;
	background: var(--gradient) #c00;
	color: white;
	text-align: center;
}

@media (max-width: 600px) {
	body > header {
		grid-template-areas: "h1 h2 ."
		                     "mv-bar mv-bar mv-bar";
		grid-template-columns: auto auto 1fr;
		grid-template-rows: auto auto;
	}
}

	body > header h1 {
		margin: 0;
		font-weight: 300;
		font-size: 400%;
		line-height: 1;
		margin-bottom: .2em;
		white-space: nowrap;
	}

		body > header h1::before {
			content: "🤕";
			display: inline-block;
			vertical-align: middle;
			margin-right: .2em;
			font-size: 80%;
		}

	body > header h2 {
		margin: 0 0 0 .4em;
		max-width: 5em;
		text-align: left;
		opacity: .5;
		line-height: .9;
	}

	body > header .mv-bar.mv-bar.mv-ui {
		grid-area: mv-bar;
		margin: 0;
	}

	.days-since {
		margin-left: auto;
		opacity: .5;
		font-style: italic;
		font-size: 70%;
	}

aside {
	padding: .5em;
}

	aside > h2 {
		margin: 0;
	}

[property="migraine"] {
	margin: .5em;
	--hue: calc(30 * (1 - var(--intensity) * .25));
	--color: var(--hue), 100%;
	background: hsl(var(--color, var(--gray)), 90%);
	border-radius: 4px;
}

[property="migraine"].intensity-0 {
	background: hsl(20, 100%, 90%);
}

	[property="migraine"] header {
		display: flex;
		padding: .5em;
	}

	[property="date"] {
		font-weight: bold;
	}

	[property="notes"] {
		padding: .5em;
		background: hsla(0,0%,100%,.4);
	}

[property="intensity"] {
	margin-left: .4em;
}

meter {
	display: inline-block;
	vertical-align: baseline;
	width: 6em;
	height: 1.2em;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="white" fill-opacity=".3">\
		<text style="font-size:90px" y="1em">🤕</text></svg>') 0 / auto 100%;
}

	meter::-webkit-meter-bar {
		background: transparent;
	}

	meter::-webkit-meter-optimum-value {
		background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="white">\
			<text style="font-size:90px" y="1em">🤕</text></svg>') 0 / auto 100%;
	}

[property="startTime"] {
	margin-left: .4em;
}

	[property="startTime"]:not(:empty)::before {
		content: "at ";
	}

	.end-time {
		margin-left: .4em;
	}

[property="duration"] {
	margin-left: .4em;
}

	[property="duration"]:not(:empty)::before {
		content: "(";
	}

	[property="duration"]:not(:empty)::after {
		content: " hours)";
	}

dl.stats {
	display: grid;
	grid-template-columns: auto 1fr;
}

	dl.stats dt,
	dl.stats dd {
		padding: .2em .3em;
		border: 1px solid rgba(0,0,0,.1);
	}

	dl.stats dt {
		grid-column: 1;
		background: hsl(var(--color, var(--gray)), 95%);
	}

	dl.stats dd {
		grid-column: 2;
		margin: 0;
	}

	dl.stats dt.large,
	dl.stats dt.large + dd {
		grid-column: 1;
		grid-column-end: span 2;
	}

	dl.stats dt.large {
		margin-top: .5em;
	}

	dl.stats dt.large + dd {
		padding: .8em;
	}

	dl.stats dt:not(.large) + dd {
		font-weight: bold;
	}

[property="migraineByMonth"],
.migraines-by-intensity > div {
	display: grid;
	grid-gap: .3em;
	margin: .3em 0;
}

[property="migraineByMonth"] {
	text-align: right;
	grid-template-columns: 8em 1fr 10em;
}

.migraines-by-intensity > div {
	grid-template-columns: auto auto 1fr auto;
}

	[property="monthlyCount"] {
		grid-column: 3;
		width: calc(100% * var(--width));
		padding: .1em .3em;
		box-sizing: border-box;
		background: var(--gradient);
		color: white;
		font-size: 80%;
		font-weight: bold;
		text-align: left;
	}

	.migraines-by-intensity meter {
		grid-column: 4;
	}
